<%- include("layout/header") %>
<main>
  <form action="/" method="post">
    <input type="text" placeholder="Favourite Player Name" name="favPlayer" />
    <button type="submit">Add</button>
  </form>
  <!-- list of players -->
  <ul>
    <% if(players.length > 0){ %> <% for(let x = 0; x < players.length; x++){ %>
    <li><%= players[x] %></li>
    <% } %> <% }else{ %>
    <p>no data found</p>
    <% } %>
  </ul>
</main>
<%- include("layout/footer") %>
